<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Past Events</h1>
            <% @events.past.each do |event| %>
            <div class="card" style="width: 18rem;">

                <div class="card-body">
                    <h5 class="card-title"><%= event.location %></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= event.date %></h6>
                    <p class="card-text"><%= event.description %></p>
                    <a href="#" class="card-link"><%= link_to 'Show', event %></a>

                </div>

            </div>
            <% end %>

        </div>


        <div class="col-md-6">
            <h1>Upcoming Events</h1>
            <% @events.upcoming.each do |event| %>
            <div class="card" style="width: 18rem;">

                <div class="card-body">
                    <h5 class="card-title"><%= event.location %></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= event.date %></h6>
                    <p class="card-text"><%= event.description %></p>
                    <a href="#" class="card-link"><%= link_to 'Show', event %></a>

                </div>

            </div>
            <% end %>

        </div>
    </div>
</div>
