<div class="row">
    <div class="col-md-6">
        <p>
            Author: <%= @event.creator.name %> <br>
            <strong>Event Description:</strong> <br>
            <%= @event.description %>
            <%= @event.location %>
            <%= @event.date %>
            <br>
            <%= rsvp_user %>
            <br>
            <%= rsvp_attendee %>

        </p>
        <small class="timestamp">
            Posted <%= time_ago_in_words(@event.created_at) %> ago.
            <% if current_user?(@event.creator) %>
            <%= link_to "Delete", @event, method: :delete,
                                          data: { confirm: "You sure?" },
                                          class: "badge bg-warning" %>
            <%= link_to 'Edit', edit_event_path(@event), class: "badge bg-warning" %>
            <% end %>
            <%= link_to 'Back', events_path, class: "badge bg-warning" %>
        </small>
    </div>
    <div class="col-md-6">
        <h3>Users</h3>
        <ul class="users">
            <%  @users.each do |user|%>
            <li><%= link_to user.name, user %>

                <% if current_user?(@event.creator) && user != current_user %>
                <%if @event.invited_users.include?(user) %>
                <%= link_to 'Dismiss',
                                { controller: "events", action: "dismiss_user",
                                user_id: user.id },
                                class:"badge bg-danger" %>
                <% elsif @event.attendees.include?(user)%>
                <%= link_to 'Dismiss invite',
                                { controller: "users", action: "dismiss_invite",
                                user_id: user.id },
                                class:"badge bg-danger" %>
                <%else%>
                <%= link_to 'Invite',
                                { controller: "events", action: "invite_user",
                                user_id: user.id },
                                class:"badge bg-secondary" %>
                <%end%>
                <% end %></li>
            <% end %>
        </ul>
    </div>
</div>
