<div class="row">
    <div class="col-md-8">

        <div class="card p-2" style="width: 100%;">

            <div class="card-body">
                <p>Author: <%= @event.creator.name %> </p>
                <h5 class="card-title"><%= @event.location %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= @event.date %></h6>
                <p class="card-text"><%= @event.description %></p>

                <%= rsvp_user %>

                <%= rsvp_attendee %>
            </div>

            <small class="timestamp">
                Posted <%= time_ago_in_words(@event.created_at) %> ago.
                <%= handling_links %>
            </small>
        </div>
    </div>
    <div class="col-md-4">
        <h3>Users</h3>
        <ul class="users">
            <%= user_links %>
        </ul>
    </div>
</div>
